{%extends "layout.html" %}



{% block content %}
<script>
  function myFunction() {
    var btn = document.createElement("BUTTON");
    btn.innerHTML = "<a href ='/'>clicke me</a>";
    document.body.appendChild(btn);
  }
</script>


<div class="ui ">
<button >images?</button>
<button onclick="myFunction()">Try it</button>
<div class="ui">

    <table class= "ui celled striped table">
        <thead>
            <tr>
              <th>Number</th>
              <th>FileName</th>
              <th> Remove?</th>
            </tr>
          </thead>
          <tbody id='fileListDisplay'>
        </tbody>
    </table>
</div> 
{% endblock %}